.prodact_eleems{
    display: flex;
    .child_1{
display: flex;
.child_1_1{
    width: 100px;
    img{
        width: 100%;
        height: 100px;
        object-fit: contain;
    }
}
.child_1_2{
    width: 500px;
    height: 500px;
img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
}
    }
    .child_2{
      padding-right: 20px;
        .child_2_1{
            display: flex;
            justify-content: space-between;
            p{
                //styleName: Desc/Text/L;
font-family: Rubik;
font-size: 24px;
font-weight: 400;
line-height: 36px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #606060;
            }
            h2{
            //styleName: Desc/Header/M;
font-family: Rubik;
font-size: 36px;
font-weight: 700;
line-height: 54px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color:rgba(65, 65, 65, 1) ;
            }
        }
button{
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 15px;
    width: 400px;
    background-color: rgba(255, 102, 51, 1);
    border: none;
    border-radius: 5px;
    transition: 0.3s;
    div{
        display: flex;
        align-items: center;
        gap: 100px;
        p{
            //styleName: Desc/Text/L;
font-family: Rubik;
font-size: 24px;
font-weight: 400;
line-height: 36px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: rgba(255, 255, 255, 1);
        }
    }
    &:hover{
        background-color: red;
    }
}
p{
    // padding-top: 40px;
font-family: Roboto;
font-size: 20px;
font-weight: 700;
line-height: 18px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
    }
}